a {
    all: unset;
  }
  
  .photorecipe {
      width:500px;
      height:340px;
      position:absolute;
      left:190px;
      top:193px;
      background-repeat:no-repeat;
      background-size:cover;
  }
  
  .rectangle {
      transform: rotate(-0.0009029267039999741deg);
      background-color:#E28025;
      width:500px;
      height:340px;
      position:absolute;
      left:205px;
      top:205px;
      z-index:-1;
  }
  
  .titlerecipe {
      color:rgba(0, 0, 0, 1);
      width:92px;
      height:30px;
      position:absolute;
      left:755px;
      top:185px;
      font-family:Lato;
      text-align:right;
      font-size:20px;
      letter-spacing:0;
  }
  
  .flag {
      width:57px;
      height:40px;
      position:absolute;
      left:910px;
      top:190px;
      background-repeat:no-repeat;
      background-size:cover;
  }
  
  .history{
      color:rgba(0, 0, 0, 1);
      width:92px;
      height:30px;
      position:absolute;
      left:760px;
      top:250px;
      font-family:Lato;
      text-align:right;
      font-size:16px;
      letter-spacing:0;
  }
  
  .historycontent {
      color:rgba(0, 0, 0, 1);
      width:500px;
      height:35px;
      position:absolute;
      left:760px;
      top:293px;
      font-family:Lato;
      text-align:left;
      font-size:16px;
      letter-spacing:0;
  }
  
  .ingredients {
      color:rgba(0, 0, 0, 1);
      width:550px;
      height:30px;
      position:absolute;
      left:190px;
      top:590px;
      font-family:Lato;
      text-align:left;
      font-size:16px;
      letter-spacing:0;
  }
  
  .ingredientslist {
      color:rgba(0, 0, 0, 1);
      width:500px;
      height:30px;
      position:absolute;
      left:210px;
      top:670px;
      font-family:Lato;
      text-align:left;
      font-size:16px;
      letter-spacing:0;
  }
  
  .previewrecipe {
      color:rgba(0, 0, 0, 1);
      width:350px;
      height:30px;
      position:absolute;
      left:760px;
      top:590px;
      font-family:Lato;
      text-align:left;
      font-size:16px;
      letter-spacing:0;
  }
  
  .video {
      color:rgba(0, 0, 0, 1);
      width:500px;
      height:340px;
      position:absolute;
      left:760px;
      top:650px;
      font-family:Lato;
      text-align:right;
      font-size:16px;
      letter-spacing:0;
  }
  
  .buttoncart{
      position: absolute;
      width: 192.66px;
      height: 60px;
      left: 760px;
      top: 470px;
      background: #E28025;
      border-radius: 300px;
      font-family:Lato;
      text-align:center;
      font-size:20px;
      border: none;
      color: white;
  
  }

  


  * {
    margin: 0;
    padding: 0;
  }
  
  .header ul{
   display: flex;
   list-style: none;
  
  }
  
  .header li{
   margin: 0 2vw;
  }
  
  .header li a{
   letter-spacing: 0.05em;
   font-size: 1.25vw;
   text-decoration: none;
   color: black;
   transition: 
     color .03 ease-in-out;
  }
  
  .header a:hover{
   color: var(--color-secondary)
  }
  
  .header-wrapper {
   max-height: 150px;
   background-color: var(--color-primary);
   width: 100%;
  }
  
  .hold-header {
   display: inline-block;
   /* position: fixed; */
   width: 100%;
  }
  
  .header{
   padding: 0 10px;
   display: flex;
   /* position:fixed; */
   justify-content:left;
   align-items: center;
   width: 100%;
   height: auto;
   background-color: #F1EBD3;
   outline: solid 4px #F1EBD3;
  }
  
  .header-logo{
   width: 10vw;
   padding: 0;
   margin: 0 4vw;
  }
  
  .header-nav {
   position: relative;
  }
  
  .footer ul{
    list-style: none;
    display:flex;
  }
  
  .footer li{
    margin: 0;
  }
  
  .footer li a{
    text-decoration: none;
    color: black;
  
  }
  
  .footer-wrapper {
    background-color: var(--color-primary);
    width: 100%;
  }
  
  .footer{
    padding: 3vw 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .footer-otherLinks{
    align-items: center;
  }
  
  .footer-otherLinks li a{
    color: black;
    font-size: 1.15vw;
    transition:
      color .03 ease-in-out
  }
  
  .footer-otherLinks li a:hover{
    color: var(--color-secondary);
  }
  
  .footer-listItem {
    padding: 0 1vw;
    border-right: .1vw solid black;
    
  }
  
  .footer-listItem:last-child{
    border-right: none;
  }
  
  .fa {
    padding: .8vw;
    font-size: 2vw;
    width: 3.5vw;
    text-align: center;
    text-decoration: none;
    margin: 2vw 1vw;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }
  
  .footer-fa:hover{
    opacity: .8;
  }
  
  .footer-copyRights {
    font-size: 1.15vw;
  }
