*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
 background-color: #F1EBD3;
 font-family: 'Lato', sans-serif;
 height: fit-content;
 /* width: 100vw; */
}

header {
 border: solid;
 width: 100%;
 height: 100px;
 background-color: #F1EBD3;
}

footer {
 width: 100vw;
 height: 150px;
 background-color: #F1EBD3;
}

#content-box {
 background-color:#F1EBD3;
 border: solid;
 width: 100vw;
 padding: 5%;
}

.content-column {
 display: inline-block;
 vertical-align: top;
 margin: 0;
}

.content-column:first-child {
 width: 50vw;
 /* margin-right: 4vw; */
 align-items: center;
}

/* CART COLUMN  */
.content-column:last-child {
 width: 35vw;
}

#content-credit {
 /* margin-top: 2vw; */
}

/* FORM COLUMN STYLING  */
.content-personal-box {
 /* padding: 15px; */
 background-color: white;
 border-radius: 1rem;

}

.content-personal-box h2 {
 font-size: 2rem;
 padding-left: 2rem;
 padding-top: 2rem;

}

.content-personal-box form {
 box-sizing: border-box;
 padding: 2rem;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 2rem;
}

.content-personal-box button,
.content-personal-box fieldset,
.content-personal-box input,
.content-personal-box legend,
.content-personal-box select,
.content-personal-box textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-personal-box input,
.content-personal-box select,
.content-personal-box textarea {
  background-color: white;
  border-radius: 0.25rem;
}

.content-personal-box input[type="text"],
.content-personal-box input[type="email"],
.content-personal-box input[type="number"],
.content-personal-box input[id="stateselector"],
.content-personal-box select,
.content-personal-box textarea {
  font-size: 1.25rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: rgb(236, 236, 236);
}

.content-personal-box textarea {
 min-height: 10rem;
}

.content-personal-box label {
 display: inline-block;
 font-size: 1.5rem;
 margin-bottom: 0.5rem;
}

.content-personal-box input:focus,
.content-personal-box select:focus,
.content-personal-box textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(39, 96%, 47%);
}



/* CART COLUMN STYLING */

#cart-box {
 background-color: white;
 border-radius: 1rem;
 margin-left: 4vw;
 width: 35vw;

}

#cart-box h2 {
 font-size: 2rem;
 padding-left: 2rem;
 padding-top: 2rem;
}

#cart-box p {
 /* font-size: 1.5rem; */
}

#cart-box table {
 box-sizing: border-box;
 padding: 0.9rem;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 2rem;
 /* max-width: 35vw; */
 width: 35vw;
}

.items thead, 
.items tbody,
.items tr {
 display: contents;
 width:fit-content;
}

.items {
 border-collapse: collapse;
 border-style: hidden;
 /* margin-left: auto;
 margin-right: auto;
 margin-top: 3px; */
 /* width: 100%; */
}

.items tr {
 border-style: dashed;
 height: 7vw;
}

.items .selector {
 text-align: center;
}

.ico img {
 background: transparent;
 background-size: cover;
 width: 4vw;
 height: 4vw;
 /* width: 100%; */
}

.items .type {
 text-align: left;
}

.items .qty {
 text-align: right;
}

.items .price {
 text-align: right;
 /* font-weight:100px !important; */
 /* font-size: 40px; */
}


#button_cart {
 width: 35vw;
 min-width: 180px;
 border-radius: 1rem;
 height: 6vw;
 background-color: #BF2608;
 color: white;
 font-size: 2.5vw;
 border: none;
 margin-left: 4vw;
}


@media screen and (max-width: 650px) {
 .content-column { width: 100%; display: block; position: relative; }
 .content-column:last-child { width: 100%;}
 .content-column:first-child { width: 100%; }
 /* .content-credit {margin-top: 5vw; } */
 #cart-box { margin-top: 15px; margin-left: 0; width: 100%; }
 #button_cart {width: 100%; margin-left: 0; height: fit-content; padding-top: 5px; padding-bottom: 5px; }
 #button_cart p {font-size: 8vw;}

 #cart-box table {
  gap: 1rem;
  max-width: 10vw;
  width: 100%;
 }

}


/* temporary - TODO: delete once start styling of cart */

.temporary {
 padding-left: 2rem;
 padding-bottom: 2rem;
}

/* #cart-box ico {
 width: 8vw;
 height: 8vw;

} */

