:root {
  --color-primary: #F1EBD3;
  --color-secondary: #bf2608;
  --color-tertiary: #35a16e;
  --color-quaternary: #E28025;
 }

* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


h1 {
 font-size: 4.5vw;
}

h2 {
 font-size: 4.5vw;
 font-weight: 300;
}

body {
 background-color: white;
 font-family: 'Lato', sans-serif;
}

header {
 border: solid;
 width: 100%;
 height: 100px;
}

.main-box {
 background-image: url('images/main2.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: scroll;
 width: 100%; /* take the complete extension of the viewpart */
 height: 100vh;

}

@media screen and (max-width: 600px) {
 .main-box {
  width: 100%; /* take the complete extension of the viewpart */
  height: 50vh;
 }
}

.main-content {
 height: 100vh;
}

#main-logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding-top: 6vh;
 width: 30%;
}

.main-box h1 {
 color: white;
 text-align: center;
 padding: 50px;
 padding-top: 0px;
}

.brief-box {
 background-color:#F1EBD3;
 height: fit-content;
 width: 100vw;

 padding: 2rem 2rem;
 text-align: center;
}

.brief-child {
 display: inline-block;
 width: 35vw;
 vertical-align: middle;

}

#brief-image {
 margin-right: 6vw;
 width: 45vw;
}

#brief-text {
 border: dashed 7px #BF2608;
 border-radius: 5%;
 text-align: center;
 padding: 35px;
 height: fit-content;
 font-size: 2vw;
 width: 35vw;

}

#brief-text button {
 background-color: #BF2608;
 border: none;
 color: white;
 border-radius: 12%;
 width: 10vw;
 height: 3vw;
 font-size: 1.5vw;
}

#brief-text button:hover {
 background-color: white;
 border: none;
 color: #BF2608;
 border-radius: 12%;
 width: 10vw;
 height: 3vw;
 font-size: 1.5vw;
}

@media screen and (max-width: 600px) {
 #brief-text {
  padding: 20px;
 }
 #brief-image {
  width: 35vw;
 }
}

.slide-box {
 background-color: #E28025;
 width: 100vw;
 height: fit-content;
 text-decoration: none;
}

.slide-box h2 {
 color: white;
 text-align: center;
 padding-top: 3vw;
}

.container {
 max-width: 95vw;
 padding-left: 40px;
 padding-right: 40px;
 margin: auto;
}

.horscroll {
 display: -webkit-inline-box;
 width: 100%;
 overflow: auto;
 margin: 10px;
 
}

.container ul {
 padding: 0;
 margin: 0;
 list-style: none;
}

.container li {
 display: list-item;
 text-align: -webkit-match-parent;
}


/* elements inside of the menu-slide */

.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 330px;
 width: 100%;
 height: 402px;
 margin: 10px;
 text-align: center;
 background-color: #FFFFFF;
 border-radius: 7%;
}

.card h1 {
 color:#2b9826;
 max-width: 120px;
 font-size: 150%;
}

.card img {
 width: 100%;
 max-width: 330px;
 height: 210px;
 position:relative;
 border-top-left-radius: 7%;
 border-top-right-radius: 7%;

}

.title-line {
 display: grid;
 align-items:center;
 margin-top: 7%;
}

.title-line object {
 grid-row-start: 1;
 grid-column-start: 2;
 max-width: 40px;
 width: 100%;
 height: auto;
 margin-bottom: 3%;
 align-self: center;
}

.title-line p {
 color: #BF2608;
 font-weight:600;
 font-size: 26px;
 margin-bottom: 2%;
 text-align: right;
 margin-right: 7px;
}

.card .description {
 padding: 10px;
}

.card button {
 background-color: #BF2608;
 border: none;
 color: white;
 border-radius: 12%;
 width: 10vw;
 height: 3vw;
 font-size: 1.5vw;
}

.card button:hover {
 background-color: white;
 border: none;
 color: #BF2608;
 border-radius: 12%;
 width: 10vw;
 height: 3vw;
 font-size: 1.5vw;
}

.review-box {
 background-color:white;
 height: fit-content;
 width: 100vw;
 margin: auto;
 padding: 2rem 2rem;
}

.review-child {
 display: inline-block;
 width: 43%;
 vertical-align: middle;
 /* border: solid; */

}

.review-child:last-child {
 display: inline-block;
 width: 50%;
 /* vertical-align: middle; */
 /* border: solid; */
 margin-left: 15px;

}

.review-image {
 width: 26vw;
 padding-bottom: 10px;
}


#review-text {
 text-align: right;
 display: inline-block;
 margin-left: 50%;
 color:#BF2608;
 font-size: 5.3vw;
}

#review-seals {
 text-align: right;
 margin: auto;
 margin-left: 29%;
 padding-top: 10px;
}

.seal-image {
 width: 9vw;
 display: inline-block;
 vertical-align: middle;
}

.review-box hr {
 border: 0;
 border-top: 3px solid #BF2608;
 width: 50%;
 margin-left: 49%;
}

footer {
 width: 100vw;
 height: 150px;
 background-color: #F1EBD3;
}

/* CSS for the header and the footer */
/***************************************************************************************/

.header ul{
  display: flex;
  list-style: none;

}

.header li{
  margin: 0 2vw;
}

.header li a{
  letter-spacing: 0.05em;
  font-size: 1.25vw;
  text-decoration: none;
  color: black;
  transition: 
    color .03 ease-in-out;
}

.header a:hover{
  color: var(--color-secondary)
}

.header-wrapper {
  padding: 0 20px;
  background-color: var(--color-primary);
  width: 100%;
}

.header{
  padding: 0 20px;
  display: flex;
  justify-content:left;
  align-items: center;
}

.header-logo{
  width: 10vw;
  padding: 0;
  margin: 0 4vw;
}

.header-nav {
  position: relative;
}

**********************************************************************************

.footer ul{
  list-style: none;
  display:flex;
}

.footer li{
  margin: 0;
}

.footer li a{
  text-decoration: none;
  color: black;

}

.footer-wrapper {
  background-color: var(--color-primary);
  width: 100%;
}

.footer{
  padding: 3vw 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.footer-otherLinks{
  align-items: center;
}

.footer-otherLinks li a{
  color: black;
  font-size: 1.15vw;
  transition:
    color .03 ease-in-out
}

.footer-otherLinks li a:hover{
  color: var(--color-secondary);
}

.footer-listItem {
  padding: 0 1vw;
  border-right: .1vw solid black;
  
}

.footer-listItem:last-child{
  border-right: none;
}

.fa-footer {
  padding: .8vw;
  font-size: 2vw;
  width: 2vw;
  text-align: center;
  text-decoration: none;
  margin: 2vw 1vw;
  border-radius: 50%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.footer-fa:hover{
  opacity: .8;
}

.footer-copyRights {
  font-size: 1.15vw;
}
